<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <meta content="width=device-width, initial-scale=1" name="viewport" />

        <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/js/splide.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide-extension-auto-scroll@0.4.2/dist/js/splide-extension-auto-scroll.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/css/splide.min.css" />

        <link rel="stylesheet" href="/assets/app/styles.css">
        <link rel="stylesheet" href="/assets/app/utilities.css">
        <link rel="stylesheet" href="/assets/app/base.css">

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% for message in app.flashes('success') %}
            <div class="popup-alert">
                <script>
                    const html = document.querySelector('html');
                    html.style.overflow = 'hidden';
                </script>
                <div class="alert alert-success">
                    <h4>Confirmation</h4>
                    <p>{{ message }}</p>
                    <div onclick="closePopup()" class="btn">Fermer</div>
                </div>
            </div>
        {% endfor %}
        
        {% for message in app.flashes('error') %}
            <div class="popup-alert">
                <script>
                    const html = document.querySelector('html');
                    html.style.overflow = 'hidden';
                </script>
                <div class="alert alert-error">
                    <h4>Erreur</h4>
                    <p>{{ message }}</p>
                    <div onclick="closePopup()" class="btn">Fermer</div>
                </div>
            </div>
        {% endfor %}

        {% block body %}
        
        {% endblock %}
    </body>
    <script>
        const closePopup = () => {
            const popup = document.querySelector('.popup-alert');
            popup.style.display = 'none';
            const html = document.querySelector('html');
            html.style.overflow = 'auto';
        }
    </script>
</html>
