<!DOCTYPE html>
<html>
    <head>
    <style>
    .example-wrapper {
        margin: 1em auto;
        max-width: 1000px;
        width: 95%;
        font: 18px/1.5 sans-serif;
    }   

    h1 {
        font-size: 26px;
        font-weight:500;
    }
    h2 {
        font-size: 22px;
        font-weight:500;
    }
    h3 {
        font-size: 18px;
        font-weight:500;
    }
    h4, h5, h6 {
        font-size: 14px;
        font-weight:500;
    }

    table {
        width: 100%;
    }

    table, tr, td {
        border-collapse: collapse;
        border: 1px solid rgba(150, 172, 238, 0.8);
    }

    thead {
        background: rgba(130, 160, 255, 1);
        color: #fff;
    }

    .submit-btn {
        color: #fff;
        padding: 10px 15px;
        background-color: #4169e1;
        border: none;
        cursor: pointer;
        float: right;
    }

    .card {
        text-decoration: none;
        border: 1px solid rgba(150, 172, 238, 0.8);
        margin-bottom: 2%;
        padding: 12px 24px;
    }

    .card h3 {
        font-size: 2em;
    }
    </style>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <meta content="width=device-width, initial-scale=1" name="viewport" />

        <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/js/splide.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide-extension-auto-scroll@0.4.2/dist/js/splide-extension-auto-scroll.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/css/splide.min.css" />

        <link rel="stylesheet" href="/assets/app/styles.css">
        <link rel="stylesheet" href="/assets/app/utilities.css">

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        
        {% endblock %}
    </body>
</html>
