<link href='/assets/fullcalendar/main.css' rel='stylesheet'/>
<script src='/assets/fullcalendar/main.js'></script>

<script>

	document.addEventListener('DOMContentLoaded', function () {
var calendarEl = document.getElementById('calendar');

var calendar = new FullCalendar.Calendar(calendarEl, {
expandRows: true,
locale: 'fr',
headerToolbar: {
left: 'prev,next today',
center: 'title',
right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
},
initialView: window.innerWidth > 650 ? 'dayGridMonth' : 'timeGridDay',
initialDate: (new Date()).toISOString().split('T')[0],
navLinks: true,
editable: false,
selectable: true,
nowIndicator: true,
events: {{ events|raw }}

});

calendar.render();
});
</script>
<style>
	#calendar {
		min-width: 100%;
		min-height: 100%;
	}
</style>


<div id='calendar-container'>
	<div id='calendar'></div>
</div>
