{% extends 'base.html.twig' %}

{% block title %}Modifier l'événement
{% endblock %}

{% block body %}
    <link rel="stylesheet" href="/assets/app/events.css">

    {# Navbar #}
    {% include 'partials/navbar.html.twig' %}
    <div class="events">
        <div class="events-wrapper">
            <h3 class="events-title">Modifier l'événement</h3>
            {% include "components/form_event.html.twig" %}
        </div>
    </div>
{% endblock %}
