{% extends 'base.html.twig' %}

{% block title %}Vos événements{% endblock %}

{% block body %}
<div style="background-color: rgba(65, 105, 225, 1); height:90px;">
    {% include 'partials/navbar.html.twig' %}
</div>

<h1>Les événements</h1>

<a href="{{path('dashboard_new_event')}}">Créer un événement</a>

{% include "calendar.html.twig" with {'events': events} %}

{% endblock %}
