{% extends 'base.html.twig' %}

{% block title %}Créer un événement
{% endblock %}

{% block body %}
    <h1>Créer un événement</h1>
    {% include "components/form_event.html.twig" %}
{% endblock %}
