.events {
  min-height: 100%;
  height: auto;
  width: 100%;
  background-color: #4169e1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0px 50px 0px;
}

.events-wrapper {
  background-color: #fff;
  display: inline-block;
  min-width: 750px;
  padding: 30px;
}

.events-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 45px;
  text-align: center;
}

.navbar-item > a {
  color: #fff !important;
  border-color: #ffff84 !important;
}

.navbar-btn {
  border-color: #fff !important;
}

/* Event info */
.event-infos-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 45px;
}
.event-info-wrapper {
  display: flex;
}
.event-label {
  font-weight: bold;
  width: 150px;
}
.event-buttons-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.event-buttons-wrapper > a {
  color: #fff;
  background-color: #4169e1;
  border-color: #4169e1;
  padding: 10px 15px;
  text-decoration: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.event-buttons-wrapper > a:last-child {
  background-color: #ff0000;
  border-color: #ff0000;
}

@media screen and (max-width: 900px) {
  .events {
    align-items: flex-start;
  }
  .events-wrapper {
    min-width: 0px;
    width: 100%;
    margin: 0px 10px;
  }
}

@media screen and (max-width: 500px) {
  .event-infos-wrapper {
    flex-direction: column;
  }
  .event-info-wrapper {
    flex-direction: column;
  }
  .event-label {
    width: 100%;
  }
  .event-buttons-wrapper {
    justify-content: flex-start;
  }
}
